
@model List<Pizza>



<table class="table container">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Foto</th>
            <th scope="col">Prezzo</th>
        </tr>
    </thead>
    <tbody id="tableBody">
  
        <tr>
                
        </tr>
    </tbody>
</table>

<script type="text/javascript">

    axios.get('/api/pizza/get')
    .then(r => {
            console.log(r.data);
            document.getElementById('tableBody').innerHTML = '';
            r.data.forEach(pizza =>{
                document.getElementById('tableBody').innerHTML += 
                `
                    <tr>
                    <td>${pizza.id}</td>
                    <td> ${pizza.nome}</td>
                        <td> <img src="${pizza.image}"></td>
                    <td> ${pizza.prezzo} &euro; </td>
                    </tr>
                `;
            })

        
    })
    //.cath(e =>{
    //    console.log(e);
    //});
    
</script>

